<body>
  <app-nav-menu></app-nav-menu>
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Menu</h3>
      </div>

      <ul class="list-unstyled components">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/fetch-movies']">Movie Requests</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/fetch-Saved-movies']">Saved Requests</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </div>
  
</body>
